/********************** RESET **********************/
/* ----------------------------- */
/* == soft reset KNACSS          */
/* ----------------------------- */
/* switching box model for all elements */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* soft reset */

html,
body {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding-left: 2em;
}

ul.unstyled {
    list-style: none;
}

img {
    height: auto;
    vertical-align: middle;
    border: 0;
}

blockquote,
figure {
    margin-left: 0;
    margin-right: 0;
}

audio,
canvas,
video {
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}
/* font-sizing for content */

p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    margin-top: 0.75em;
    margin-bottom: 0;
    line-height: 1.5;
}

ul,
ol {
    padding-left: 2em;
}

ul.unstyled {
    list-style: none;
}

em,
.italic,
address,
cite,
dfn,
i,
var {
    font-style: italic;
}

strong,
.bold {
    font-weight: bold;
}
/* avoid top margins on first content element */

p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
/* avoid margins on nested elements */

li p,
li .p-like,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}
/* max values */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: middle;
    border: 0;
}

a img {
    border: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    /* equiv 14px */
    color: #fff;
    text-align: center;
    
    line-height: 1.5;
    /* adapt to your design */
}
/********************** FIN DU RESET **********************/

/********************** GLOBAL CSS **********************/
a {
    text-decoration: none;
    color: #fff;
}

body {
    background: url(../img/bg-travelcat.jpg);
    background-position: 48% 41%;
    height: 100%;
}

input, textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.143em; /* 16px / 14px */
}
/********************** FIN DU RESET **********************/

/********************** GRID CSS **********************/
.grid, .row, .col {
    box-sizing: border-box;
    /*rajouter préfixes*/
}
.row, .col {
    overflow: hidden;
}
.grid {
    margin: 0 auto;
    max-width: 1024px;    
}
.row {
    /*margin: 0 -20px; /*si j'ai -20px j'ai une scrollbar horizontal*/
}
.col {
    /*margin-left: 1/*%;*/

    /*padding-left: 20px;*/
    /*padding-right: 20px;*/

}
.col:first-child {
    padding-left: 0; 
}

@media all and (min-width:40em) {
    .col {
        float: left;
    }
    
    /* target / context * 100
       170.6666666666667 / 1024 * 100
    */
    
    .col-1 {
        width: 16.66666666666667%;
    }
    .col-2 {
        width: 33.33333333333333%;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 66.66666666666668%;
    }
    .col-5 {
        width: 83.33333333333335%;
    }
    .col-6 {
        width: 100%;
    }
    .col-offset-1 {
        margin-right: 16.66666666666667%;
    }
    .col-offset-2 {
        margin-left: 33.33333333333333%;
    }
    .col-offset-3 {
        margin-left: 50%;
    }
    .col-offset-4 {
        margin-left: 66.66666666666668%;
    }
    .col-offset-5 {
        margin-left: 83.33333333333335%;
    }    
}
/********************** FIN GRID CSS **********************/

/********************** HOME CSS **********************/
.wrapper {
    padding-top: 14px;
    margin: 0 auto;
    min-height: 100%;
}
.logo-group {
    margin-bottom: 12px;
}
.logo-group img { 
    margin-right: 10px;
}

.logo-group p{
    display: inline-block;
    font-weight: 700;
    font-size: 1.857em; /* 26px / 14px */
    line-height: 0.792em;
    margin: 0;
    position: relative;
    top:19px;
}

.main h1 {
    font-weight: 300;
    font-size: 1.143em; /* 16px / 14px */
    line-height: 1.2em;
    margin: 0 13.125% 0 13.125%;
}

.bouton {
    border-radius: 3px;
    height: 40px;
}

.bouton.connec {
    border-radius: 3px;
    background-color: #0288D1;
    width: 72.38493723849372%; /* 173px / 239px */
    display: inline-block;
    -moz-box-shadow: 3px 4px 3px #235B6D;
    -webkit-box-shadow: 3px 4px 3px #235B6D;
    -o-box-shadow: 3px 4px 3px #235B6D;
    box-shadow: 3px 4px 3px #235B6D;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#235B6D, Direction=143, Strength=3);
    margin: 18px 15px 4px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
}

.connexion {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    width: 74.6875%; /* 239px / 320px */
    margin: 0 auto;
    margin-top:9px;
    margin-bottom: 19px;
    padding: 23px 0px 19px 0px;
}

.connexion .motdepasseoublie {
    font-weight: 700;
    font-size: 0.714em; /* 10px / 14px */
    text-decoration: underline;
    color: #0E415C;
}

.connexion input[type=text]:first-child {
    margin-bottom: 13px;
}

.connexion input {
    border: 0px;
    border-radius: 2px;
    height: 40px;
    padding-left: 4px;
    width:84.51882845188285%; /* 202px / 239px */ 
}

.bouton.inscription {
    background-color: #1F9C69;
    -moz-box-shadow: 3px 4px 3px #19371D;
    -webkit-box-shadow: 3px 4px 3px #19371D;
    -o-box-shadow: 3px 4px 3px #19371D;
    box-shadow: 3px 4px 3px #19371D;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#19371D, Direction=143, Strength=3);
    width: 88.4375%; /* 283px / 320px */
    margin: 0 auto;
    margin-bottom: 5px;
}

.bouton.inscription p {
    font-weight: 700;
    font-size: 1em;
    padding-top:8px; 
}

footer {
    display: none;
}

@media all and (min-width:40em) {
    .wrapper {
        padding-top: 44px;
        position: relative;
        padding-bottom: 150px;
    }
    
    .logo-group {
        margin-bottom: 86px;
    }
        
    .logo-group p{
        font-size: 4em; /* 56px / 14px */
        line-height: 0.792em;
        margin: 0;
        position: relative;
        top:45px;
    }
    
    .logo-group img {
        width: 88px;
    }
    
    .main h1 {
        margin-bottom: 105px;
        font-size: 1.286em; /* 18px / 14px */
    }
    
    .connexion {
        width: 87.05128205128205%; /* 679px / 780px */
        margin: 0 auto;
        margin-top:9px;
        margin-bottom: 57px;
        padding: 63px 20px 50px 20px;
    }
    
    .connexion input {
        border: 0px;
        border-radius: 2px;
        height: 40px;
        padding-left: 4px;
        margin-right:3.829160530191458%; /* 26px / 679px */
        width:29.45508100147275%; /* 200px / 679px */ 
    }
    
    .bouton.connec {
        width: 25.47864506627393%; /* 173px / 679px */
        font-size: 1.214em; /* 17px / 14px */
        margin: 0;
    }
    
    .connexion .motdepasseoublie {
        float: right;
        margin-right:7.511045655375552%; /*10px;*/
        margin-top: -5px;
        font-size: 1.071em; /* 15px / 14px */
    }
    
    .bouton.inscription {
        max-width: 560px;
        margin-bottom:76px;
    }
    
    footer {
        display:block;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        padding: 50px 0 50px 0;
        height: 150px;
        position: absolute;
        bottom: 0;
    }
    
    .bloc-footer p {
        font-size: 1em;
        font-weight: 300;
        padding-bottom: 18px;
    }
    
    .bloc-footer a {
        font-size: 1em;
        font-weight: 500;
        text-decoration: underline;
    }
    
}


/********************** FIN HOME CSS **********************/

/********************** AJOUT FICHIER VIDEO CSS **********************/
.wrapper-fenetreajout {
    padding-top: 14px;
    padding-bottom: 14px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.fenetreajout {
    background-color: #f1f1f2;
    border-radius: 3px;
    width:93.125%; /* 298px / 320px */
    min-height: 100%;
    margin: 0 auto;
}

.fenetreajout .titre {
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    height: 48px;
    margin-bottom: 19px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.fenetreajout .titre h1 {
    font-size: 1.214em; /* 17px / 14px */
    font-weight: 700;
    color: #363636;
    height: 48px;
    line-height: 48px;
}

.champsajout {
}

.champsajout-1 input, .champsajout-3 textarea {
    border: 0px;
    border-radius: 2px;
    height: 40px;
    padding-left: 12px;
    width: 86.91275167785235%; /* 259px / 298px */
}

.champsajout-3 textarea {
    height: 116px;
    padding-top: 13px;
    resize: none;
    margin-top: 7px;
}

.champsajout-2 .boutonajoutphoto {
    background-color: #fff;
    height: 184px;
    width: 86.91275167785235%; /* 259px / 298px */
    margin: 0 auto;
    margin-top: 7px;
}

.champsajout-2 .boutonajoutphoto p {
    color: #8c8a8a;
    font-size:4.286em; /* 60px / 14px */
    font-weight: 300;
    height: 184px;
    line-height: 184px;
}

.fenetreajout .action-boutons {
    margin-top: 5px;
    padding-bottom: 10px; 
}

.fenetreajout .action-boutons ul {
    list-style: none;
    font-size: 0;
}

.fenetreajout .action-boutons a {
    display: inline-block;
    width:27.51677852348993%; /* 82px / 298 px */
    height: 40px;
    background-color: #0288d1;
    border-radius: 3px;
    margin-right:2.013422818791946%; /* 6px / 298 px */
}

.fenetreajout .action-boutons a:last-child {
    background-color: #ffe440;
    margin-right: 0;
}

.fenetreajout .action-boutons p {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    margin-top: 6px;
    background-repeat:no-repeat;
}

.fenetreajout .action-boutons p.edition {
    background-image: url('../img/icon-edition.svg');
}

.fenetreajout .action-boutons p.geolocalisation {
    background-image: url('../img/icon-geoloc.svg');
}

.fenetreajout .action-boutons p.envoyer {
    background-image: url('../img/icon-envoyer.svg');
}

@media all and (min-width:40em) {
    .fenetreajout {
        max-width: 617px;
    }
    .champsajout-2 {
        margin-top: -47px;
    }
    .champsajout-2 .boutonajoutphoto {
        height: 265px;
    }
    .champsajout-2 .boutonajoutphoto p {
        height: 265px !important;
        line-height: 265px !important;
    }
    .champsajout-3 {
        margin-top: -222px;
    }
    .champsajout-3 textarea {
        height: 261px;
    }
    .fenetreajout .action-boutons ul {
        font-size: 1.214em !important;
    }
    .fenetreajout .action-boutons p {
        margin-left: 7px !important;
        padding-left: 32px;
    }
    .action-boutons {
        overflow: visible;
    }
    .action-boutons .btn-envoyer {        
        float: left;
        width: 18.20745542949757% !important; /* 100px / 617px */
        margin-left: -12px;
        color: black;
    }
    .action-boutons .btn-edition {
        float: right;
        width: 17.30745542949757% !important; /* 100px / 617px */
        margin-right: 32.09076175040519% !important; /* 198px / 617 px */
        margin-top: -50px;
    }
    .action-boutons .btn-geoloc {
        float: right;
        width: 28.03889789303079% !important; /* 173px / 617px */
        margin-right: 3.217341977309562% !important;
        margin-top: -50px;
    }
}


/********************** FIN AJOUT FICHIER VIDEO CSS **********************/

/********************** WALL CSS **********************/
.wrapper-wall {
    background-color: #d8e1e7;
    padding-top: 31px;
    min-height: 100%;
    padding-left:10%; /* 32px / 320 px */
    padding-right:10%; /* 32px / 320 px */
}
.search-wrapper {
    /*width: 80%; /* 256px / 320px */
    height: 40px;
    background-color:#fff;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
}
.search-field {
    position: absolute;
    left: 35px;
    border: 0;
    background-color: transparent;
    height: 40px;
    vertical-align: middle;
    width:65%;
}

.search-wrapper .img-loupe {
    position: absolute;
    left:3px;
    top:5px;
    width: 29px;
    height: 29px;
}

.menu-btn {
    background: url('../img/icon-hamburger.svg') no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #0288d1;
    height: 100%;
    width: 53px;
}

.post h1 {
    font-size: 0.964em; /* 13.5px / 14px */
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 6px;
}

.post img {
    max-width: 100%;
}

.post .description {
    font-size: 0.821em; /* 11.5px / 14px */
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}

.post h5 {
    font-size: 0.679em; /* 9.5px / 14px */
    font-weight: 400;
}

.voirplus {
    font-size: 1.214em; /* 17px / 14px */
    font-weight: 700;
    color: #363636;
}

.btn-add {
    width: 100%;
    height: 40px;
    margin-top: 18px;
    margin-bottom: 24px;
    border: 0;
    border-radius: 3px;
    background-color: #0288d1;
    font-size: 1.071em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
}

.post {
    /*width: 80%; /* 256px / 320px */
    width:100%;
    margin: 0 auto;
    margin-bottom: 24px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 4px 1px #b0b0b0;
    -webkit-box-shadow: 0px 0px 4px 1px #b0b0b0;
    -o-box-shadow: 0px 0px 4px 1px #b0b0b0;
    box-shadow: 0px 0px 4px 1px #b0b0b0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#b0b0b0, Direction=NaN, Strength=4);
    background-color: #F1F1F2;
    color: #363636;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 39px;
    display: inline-block;
    position: relative;
}

.post .auteur {
    width: 40%;
    height: 23px;
    text-align: left;
    float: left;
}

.post .hauteur h5 {
}

.post .auteur img {
}

.post .lieu {
    width: 60%;
    height: 23px;
    text-align: right;
    float: right;
}

.post .buttons {
    width: 100%;    
    height: 38px;
    position: absolute;
    left: 0;
    bottom:0;
    border-top: 1px solid #d5d5d5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.post .buttons a {
    width: 33.33333333%;
    height: 37px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    outline: none;
    border: 0;
    border-right: 1px solid #d5d5d5;
    background-color: #fff;
    color: black;
    float: left;
    font-size: 0.679em; /* 9.5px / 14px */
    font-weight: 700;
    line-height: 32px;
}

.post .buttons a:last-child {
    border: 0;
    border-bottom-right-radius: 3px;
}

.post .buttons a:first-child {
    border-bottom-left-radius: 3px;
}

.post .buttons .like {
    background: #fff url(../img/icon-like.svg) no-repeat center;
    background-size: 30px;
}

.post .buttons .comm {
    background: #fff url(../img/icon-comm.svg) no-repeat center;
    background-size: 30px;
}

.post .buttons .share {
    background: #fff url(../img/icon-share.svg) no-repeat center;
    background-size: 29px;
    font-size: 0;
}

/********************** FIN WALL CSS **********************/