/********************** RESET **********************/
/* ----------------------------- */
/* == soft reset KNACSS          */
/* ----------------------------- */
/* switching box model for all elements */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* soft reset */

html,
body {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding-left: 2em;
}

ul.unstyled {
    list-style: none;
}

img {
    height: auto;
    vertical-align: middle;
    border: 0;
}

blockquote,
figure {
    margin-left: 0;
    margin-right: 0;
}

audio,
canvas,
video {
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}
/* font-sizing for content */

p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    margin-top: 0.75em;
    margin-bottom: 0;
    line-height: 1.5;
}

ul,
ol {
    padding-left: 2em;
}

ul.unstyled {
    list-style: none;
}

em,
.italic,
address,
cite,
dfn,
i,
var {
    font-style: italic;
}

strong,
.bold {
    font-weight: bold;
}
/* avoid top margins on first content element */

p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
/* avoid margins on nested elements */

li p,
li .p-like,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}
/* max values */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: middle;
    border: 0;
}

a img {
    border: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    /* equiv 14px */
    color: #fff;
    text-align: center;
    
    line-height: 1.5;
    /* adapt to your design */
}
/********************** FIN DU RESET **********************/

/********************** GLOBAL CSS **********************/
a {
    text-decoration: none;
    color: #fff;
}

body {
    background: url(../img/bg-travelcat.jpg);
    background-position: 48% 41%;
}
/********************** FIN DU RESET **********************/
.wrapper {
    padding-top: 14px;
    margin: 0 auto;
}
.logo-group {
    margin-bottom: 12px;
}
.logo-group img { 
    margin-right: 10px;
}

.logo-group p{
    display: inline-block;
    font-weight: 700;
    font-size: 1.857em; /* 26px / 14px */
    line-height: 0.792em;
    margin: 0;
    position: relative;
    top:19px;
}

.main h1 {
    font-weight: 300;
    font-size: 1.143em; /* 16px / 14px */
    margin: 0 13.125% 0 13.125%;
}

.bouton {
    border-radius: 3px;
    height: 40px;
}

.bouton.connec {
    border-radius: 3px;
    background-color: #0288D1;
    width: 72.38493723849372%; /* 173px / 239px */
    display: inline-block;
    box-shadow: 3px 4px 3px #235B6D;
    margin: 18px 15px 9px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
}

.connexion {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    width: 74.6875%; /* 239px / 320px */
    margin: 0 auto;
    margin-top:9px;
    margin-bottom: 19px;
    padding: 23px 0px 19px 0px;
}

.connexion .motdepasseoublie {
    font-weight: 700;
    font-size: 0.714em; /* 10px / 14px */
    text-decoration: underline;
    color: #0E415C;
}

.connexion input:first-child {
    margin-bottom: 13px;
}

.connexion input {
    border: 0px;
    border-radius: 2px;
    height: 40px;
    padding-left: 4px;
    width:84.51882845188285%; /* 202px / 239px */ 
}

.bouton.inscription {
    background-color: #1F9C69;
    box-shadow: 3px 4px 3px #19371D;
    width: 88.4375%; /* 283px / 320px */
    margin: 0 auto;
}

.bouton.inscription p {
    font-weight: 700;
    font-size: 1em;
    padding-top:8px; 
}